.feature-card {
    background-color: #FEF1CC;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    max-width: 1100px;
    margin: 60px auto; 
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2); 
  }

  .text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1; /* Permite que o container cresça para usar todo o espaço disponível */
  }
  
  .logo-txt {
    font-size: 50px;
    font-weight: bold;
    color: #001FA8;
    margin-bottom:0; /* Espaçamento entre o título e o subtítulo */
  }
  
  .slogan-p {
    color: #001FA8;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 1em;/* Espaçamento entre o subtítulo e o botão */
  }
 
  .new-roteiro {
    padding: 12px 40px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    background-image: linear-gradient(to right, #010a33 00%, #001FA8 100%); /* Gradiente da esquerda para a direita */
    position: relative; /* Posição relativa para elementos internos posicionados absolutamente */
    overflow: hidden; /* Previne que elementos internos 'vazem' para fora */
    transition: color 0.6s; /* Transição suave da cor do texto */
  }
  
  /* Cria o pseudo-elemento para o efeito de hover */
  .new-roteiro::before {
    content: '';
    position: absolute; /* Posicionamento absoluto dentro do botão */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to left, #010a33 0%, #001FA8 100%); /* Gradiente da direita para a esquerda */
    opacity: 0; /* Inicialmente transparente */
    transition: opacity 0.6s ease; /* Transição suave da opacidade */
    z-index: 0; /* Abaixo do texto */
  }
  
  .new-roteiro:hover::before {
    opacity: 1; /* O pseudo-elemento se torna visível, mostrando o gradiente alternativo */
  }
  
  .feature-image {
    width: 50%; /* Ajuste a largura da imagem para metade do cartão */
    height: auto; /* Altura auto para manter a proporção da imagem */
    object-fit: cover; /* Garante que a imagem cubra o espaço sem distorção */
  }


 
@media (max-width: 768px) {
  .navigation, .branding {
      padding: 15px;
  }

  .text-container {
    margin-top: 20px;
    margin-right: 10px;
    order: -1; /* Coloca o texto acima da imagem */
    width: 100%; /* Faz o contêiner de texto ocupar toda a largura */
    max-width: none; /* Remove qualquer restrição de max-width que possa existir */
    padding: 0 20px; /* Preenchimento horizontal para manter o texto não colado às bordas */
  }

  .feature-image{
    object-fit: cover;
  }

  .feature-card {
    width: 80%; /* Mantém a largura ajustada */
    padding: 20px; /* Mantém o padding original */
    max-height: 250px; /* Ajusta a altura máxima para limitar o tamanho do cartão */
    overflow: auto; /* Permite rolagem se o conteúdo exceder a altura máxima */
  }
  .new-roteiro {
    padding: 8px 20px;
    margin-left: 0;
    font-size: 12px; /* Ajusta o tamanho da fonte do botão */
  }

  .logo-txt {
    font-size: 26px; /* Ajusta o tamanho da fonte do título */
    margin-bottom: 130px; 
    position: absolute;

    text-align: center;
  }

  .slogan-p {
    text-align: center;
    font-size: 14px; /* Ajusta o tamanho da fonte do slogan */
    margin-bottom: 9%; /* Reduz a margem inferior do slogan */
  }

  .logo {
      font-size: 20px;
  }
}

@media (max-width: 480px) {
  .feature-card {
    margin: 30px auto;
    padding: 10px;
  }
  .logo-txt {
    font-size: 20px;
    margin-bottom: 0;
  }
  .slogan-p {
    font-size: 16px;
    margin-bottom: 0.5em;
  }
  .new-roteiro {
    padding: 6px 16px;
    font-size: 10px;
  }
  .feature-image {
    width: 100%;
  }
}

@media (max-width: 1368px) {
  .feature-card {
    max-width: 700px;
  }
}