
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


body{
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}*


.header {
  display: flex;
  justify-content: space-between; /* Espaça os elementos filhos */
  align-items: center;
  padding: 0 55px;
}


.branding {
  display: flex;
  align-items: center;
  gap: 3px; 
}
.navigation {
  display: flex;
  align-items: center;
  justify-content: center; /* Centraliza os itens horizontalmente */
  flex-grow:1;
  padding-right:12%;
  position: relative;
}

.nav-link {
  transition: transform 0.3s, margin 0.3s;
  
  margin: 0 20px;
}

.nav-content {
  text-decoration: none;
  color: #001FA8;
  margin: 5px;
  font-size: 20px;
  font-weight: bold;
  display: inline-block; /* Assegura que o motion.div se comporte como um inline-block */
}


.logo {
  margin: 0;
  font-size: 30px;
  font-weight:bolder;
  color: #001FA8;
  display: left;
}

.logoImg{
  width: 100px;
  height: 100px;
}

.login-button-container {
  position: absolute;
  right: 0; /* Alinha o botão à direita */
  padding-right: 10px; /* Espaçamento à direita para não ficar colado na borda */
}

.login-button {
  padding: 10px 25px;
  background-color: #001FA8;
  color: white;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  
  
}


.login-button:hover {
  background-color: #FEF1CC;
  transition: 0.6s;
}

a{
  text-decoration: none;
  color: #001FA8;
}



.hamburger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger-menu div {
  background-color: #001FA8;
  margin: 5px 0;
  height: 2px;
  width: 25px;
}


footer {
  /* Posiciona o rodapé no fundo da página sem ficar preso */
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #F0F0F0;  /* Cor de fundo */
  padding: 10px 20px;         /* Aumenta o padding para mais espaço */
  display: flex;              /* Usa flexbox para layout */
  justify-content: center;    /* Centraliza os itens horizontalmente */
  align-items: center;        /* Alinha os itens verticalmente ao centro */
}

.txt-footer, .footer-link {
  color: #001FA8;
  margin: 0 10px;  /* Adiciona margem entre os elementos */
  padding: 5px;
  text-decoration: none; /* Remove sublinhado, caso não desejado */
}

.footer-link {
  text-decoration: underline; /* Manter sublinhado para links */
}

/* Responsive Telemovel */
@media (max-width: 768px) {
    .header { 
      flex-direction: column; 
      align-items: flex-start; 
      padding: 0 15px; } 

    .branding { 
      margin-bottom: 10px; } 

    .logo { 
      font-size: 24px; 
    } 

    .navigation.active {
      display: flex;
    }

    .hamburger-menu {
      display: flex;
      
    
    }

    .navigation { 
      display: none;
      flex-direction: column;
      width: 100%;
      margin-right: 0; 
      margin-top: 10px; 
    } 
    .nav-link { 
      margin: 0 10px; 
    } 
    .login-button { 
      margin-top: 10px; 
    } 

  }
