@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


html,body{
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}*


.header {
  display: flex;
  justify-content: space-between; /* Espaça os elementos filhos */
  align-items: center;
  padding: 0 55px;
}


.branding {
  display: flex;
  align-items: center;
  gap: 3px; 
}
.navigation {
  display: flex;
  align-items: center;
  justify-content: center; /* Centraliza os itens horizontalmente */
  flex-grow:1;
  padding-right:12%;
  position: relative;
}

.nav-link {
  transition: transform 0.3s, margin 0.3s;
  
  margin: 0 20px;
}

.nav-content {
  text-decoration: none;
  color: #001FA8;
  margin: 5px;
  font-size: 20px;
  font-weight: bold;
  display: inline-block; /* Assegura que o motion.div se comporte como um inline-block */
}
.header a {
  text-decoration: none; /* Remove sublinhado de todos os links no header */
}



.logo {
  margin: 0;
  font-size: 30px;
  font-weight:bolder;
  color: #001FA8;
  display: left;
}

.logoImg{
  width: 100px;
  height: 100px;
}

.login-button-container {
  position: absolute;
  right: 0; /* Alinha o botão à direita */
  padding-right: 10px; /* Espaçamento à direita para não ficar colado na borda */
}

.login-button {
  padding: 10px 25px;
  background-color: #001FA8;
  color: white;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  
  
}


.login-button:hover {
  background-color: #FEF1CC;
  transition: 0.6s;
}

a{
  text-decoration: none;
  color: #001FA8;
}



.hamburger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger-menu div {
  background-color: #001FA8;
  margin: 5px 0;
  height: 2px;
  width: 25px;
}




footer {
  /* Posiciona o rodapé no fundo da página sem ficar preso */
  /* flex:1; */
  /* position: absolute; */
  width: 100%;
  background-color: #F0F0F0;  /* Cor de fundo */
  padding: 10px 0;            /* Espaçamento interno */
  display: flex;          
  justify-content: center;   
  align-items: center;      
  margin-top: 2%;  
}


.txt-footer, .footer-link {
  color: #001FA8;
  margin: 0 10px;  /* Adiciona margem entre os elementos */
  padding: 5px;
  text-decoration: none; /* Remove sublinhado, caso não desejado */
}

.footer-link {
  text-decoration: underline; /* Manter sublinhado para links */
}

/* Cards Containers */

/* Fim Cards Containers */

/* contactos */

.feature-card-contact {
  background-color: #FEF1CC;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: row; /* Elementos lado a lado */
  align-items: center; /* Centraliza verticalmente o conteúdo */
  justify-content: space-between; /* Distribui o espaço entre o texto e a imagem */
  max-width: 800px;
  height: 370px;
  margin: 60px auto;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.feature-text-container {
  display: flex;
  flex-direction: column; /* Organiza as frases verticalmente */
  justify-content: center;
  margin-right: 20px; /* Espaço entre texto e imagem */
}

.feature-title, .feature-email {
  color: #001FA8;
  margin: 10px 80px;
}

.feature-title {
  font-size: 35px;
}

.feature-email {
  font-size: 20px;
}

.feature-image-contact {
  width: 50%; /* Ajusta conforme a proporção desejada para a imagem */
  object-fit: cover; /* Mantém a proporção da imagem sem distorcer */
}

/* css página eat */
.sloganeat-p{
  color: #001FA8;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    padding-top: 15px;
    
}


.containers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0px !important; /* Força a aplicação do estilo */
  margin-bottom: 20px;
}

.cards-row {
  margin: 0 -15px; /* Reduz o espaçamento padrão do Bootstrap */
}



.tag-container {
  display: flex;
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Aligns content vertically */
  width: 100%;
  padding: 7px 20px;
  background-color: #FEF1CC;
  border-radius: 15px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  color: #001FA8;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  margin: 0 auto 10px; /* Centers it and adds space below */
}

.search-bar {
  display: flex;
  justify-content: center;
  padding: 2px;
  gap: 7px;
  margin-left: 64%;
}

.search-bar input, .search-bar select, .search-bar button {
  padding: 8px;
  border: 2px solid #001FA8;
  border-radius: 15px;
  outline: none;
}

.search-bar button {
  cursor: pointer;
  background-color: #001FA8;
  color: #ffffff;
}

.search-bar input:focus, .search-bar select:focus, .search-bar button:focus {
  border-color: #FEF1CC;
}





/* Fim css página eat */

/* Inicio css página local */


.sloganloc-p{
  color: #001FA8;
  font-size: 40px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  padding-top: 15px;
  float: left;
}

.sloganloc2-p{
  color: #001FA8;
  font-size: 40px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  padding-top: 15px;
  float: right;
}

.cards-container{
  width: 100%;
  aspect-ratio: 1/1;
  background-color: #FFFFFF; /* Cor de preenchimento branca */
  border: 3px solid #FEF1CC; /* Cor da borda FEF1CC */
  border-radius: 15px; /* Raio da borda */
  display: flex;
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
  align-items: center; /* Centrahiliza o conteúdo verticalmente */
}

.local-card {
  display: flex;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  margin: 10px;
  background-color:#EADDCA;
}

.local2-card{
  display: flex;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  margin: 10px;
  background-color:#FEF1CC;
  
}

.text-container1 {
  display: flex;
  justify-content: left;
  margin-right: 20px;
}

.text-container2 {
  display: flex;
  justify-content: right;
  margin-left: 20px;
}





/* Fim css página local */

/* LoginModal página */
.login-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.login-modal-content {
  background: #FEF1CC;
  color: #001FA8;
  padding: 20px;
  border-radius: 15px;
  width: 460px;
  height: 450px;
  text-align: left;
  padding: 25px;
  position: relative; /* For positioning the close button */
}

.login-modal-header {
  margin-bottom: 30px;
}

.login-modal-button {
  display: flex;
  align-items: center; /* Centers the items vertically */
  justify-content: flex-start; /* Aligns items to the left */
  padding-left: 20px; /* Provides padding on the left */
  text-align: left; /* Aligns text to the left */
  width: 100%;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 30px;
  background-color: white;
  color: black;
  cursor: pointer;
  font-size: 16px;
  position: relative; /* Sets the positioning context for absolute positioning inside */
}

.terms-modal{
  text-align: center;
  margin-top: 23%;

}

.email-logo {
  margin-right: 10px; /* Right margin to create space between the logo and the text */
  height: 24px; /* Keep the logo size consistent */
  width: auto; /* Maintain aspect ratio */
}

.google-logo {
  margin-right: 10px; /* Right margin to create space between the logo and the text */
  height: 24px; /* Keep the logo size consistent */
  width: auto; /* Maintain aspect ratio */
}

.ponte-logo {
  margin-right: 10px; /* Right margin to create space between the logo and the text */
  height: 70px; /* Keep the logo size consistent */
  width: auto; /* Maintain aspect ratio */
}

.login-modal-button span {
  flex-grow: 1; /* Allows the text to take up remaining space for centering */
  text-align: center; /* Centers the text */
}


.login-modal-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
  cursor: pointer;
}

p {
  font-size: 12px;
  color: #666;
}

/* Fim LoginModal página */

/*Login inicio*/
.login-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050; /* Make sure this is above other page content */
}

.login-container {
  width: 100%;
  max-width: 400px; /* Adjust width as needed */
  padding: 20px;
  text-align: center;
  background-color: #F0F0F0; /* Light background color */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  position: relative; /* Allows for close button positioning if needed */
  z-index: 1051; /* Above the backdrop */
}


.login-logo {
  margin-bottom: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form label {
  text-align: left;
  margin-bottom: 5px;
}

.login-form input {
  padding: 10px;
  margin-bottom: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.login-links a {
  display: block;
  color: #0066cc;
  text-decoration: none;
  margin-bottom: 10px;
}

.login-form button {
  padding: 10px;
  color: white;
  background-color: #001FA8; /* Example blue */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #003399;
}

.login-container p {
  font-size: 12px;
  color: #666;
  margin-top: 20px;
}




/*Login Fim*/


/* Responsive Telemovel */
@media (max-width: 768px) {

 
    .header { 
      flex-direction: column; 
      align-items: flex-start; 
      padding: 0 15px; } 

    .branding { 
      margin-bottom: 10px; } 

    .logo { 
      font-size: 26px; 
    } 

    .navigation {
      display: none; /* Esconde o menu de navegação por padrão */
      flex-direction: column; /* Orientação vertical dos links */
      align-items: flex-start; /* Alinha os links à esquerda */
      padding: 20px; /* Espaço ao redor dos links */
      position: absolute; /* Posicionamento absoluto */
      top: 120px; /* Posição a partir do topo do header */
      right:0; /* Posição a partir da esquerda da página */
      background-color: white; /* Cor de fundo do menu expandido */
      width: 50%; /* Largura do menu expandido */
      height: 50%; /* Altura do menu expandido */
      box-shadow: 0 8px 16px rgba(0,0,0,0.1); /* Sombra para destaque */
      z-index: 1000; /* Garante que o menu fique acima de outros elementos */
    }
  
    .navigation.active {
      display: flex; /* Mostra o menu quando ativo */
    }
  
    .nav-link {
      margin: 10px 0; /* Espaçamento vertical entre links */
      width: 80%; /* Largura para preencher o menu expandido */
    }
  
    .nav-content {
      padding: 10px 15px; /* Espaçamento interno para tornar mais clicável */
      width: 100%; /* Largura para preencher o menu expandido */
      text-align: right; /* Alinhamento do texto à esquerda */
    }
  
    .hamburger-menu {
      /* Posicione o botão à direita */
      position: absolute;
      right: 50px;
      top: 50px;
      display: flex; /* Mostra o ícone do menu hambúrguer */
    }

    .login-button-container {
      /* meter o botão login em baixo do nav-link e à direita*/
      position: relative;
      display: flex;
      margin-top: 20px;
      justify-content: center;
      /* meter o botão no lado direito */
      padding-left: 80px;

    }

    footer {
      /* Posiciona o rodapé no fundo da página sem ficar preso */
      width: 100%;
      background-color: #F0F0F0;  /* Cor de fundo */
      padding: 10px 0;            /* Espaçamento interno */
      display: flex;              /* Usa flexbox para layout */
      justify-content: center;    /* Centraliza os itens horizontalmente */
      align-items: center;        /* Alinha os itens verticalmente ao centro */
    }
    
    .txt-footer, .footer-link {
      color: #001FA8;
      margin: 0 10px;  /* Adiciona margem entre os elementos */
      padding: 5px;
      text-decoration: none; /* Remove sublinhado, caso não desejado */
    }
    
    .footer-link {
      text-decoration: underline; /* Manter sublinhado para links */
    }

    .login-button { 
      margin: 0 10px;


    } 

  }

  /* Responsive Tablet */

  @media (max-width: 1024px) {
    .header { 
      flex-direction: column; 
      align-items: flex-start; 
      padding: 0 15px; } 

    .branding { 
      margin-bottom: 10px; } 

    .logo { 
      font-size: 24px; 
    } 
    .navigation {
      display: none; /* Esconde o menu de navegação por padrão */
      flex-direction: column; /* Orientação vertical dos links */
      align-items: flex-start; /* Alinha os links à esquerda */
      padding: 20px; /* Espaço ao redor dos links */
      position: absolute; /* Posicionamento absoluto */
      top: 120px; /* Posição a partir do topo do header */
      right:0; /* Posição a partir da esquerda da página */
      background-color: white; /* Cor de fundo do menu expandido */
      width: 50%; /* Largura do menu expandido */
      height: 50%; /* Altura do menu expandido */
      box-shadow: 0 8px 16px rgba(0,0,0,0.1); /* Sombra para destaque */
      z-index: 1000; /* Garante que o menu fique acima de outros elementos */
    }
  
    .navigation.active {
      display: flex; /* Mostra o menu quando ativo */
    }
  
    .nav-link {
      margin: 10px 0; /* Espaçamento vertical entre links */
      width: 80%; /* Largura para preencher o menu expandido */
    }
  
    .nav-content {
      padding: 10px 15px; /* Espaçamento interno para tornar mais clicável */
      width: 100%; /* Largura para preencher o menu expandido */
      text-align: right; /* Alinhamento do texto à esquerda */
    }
  
    .hamburger-menu {
      /* Posicione o botão à direita */
      position: absolute;
      right: 50px;
      top: 50px;
      display: flex; /* Mostra o ícone do menu hambúrguer */
    }
    
    .login-button-container {
      /* meter o botão login em baixo do nav-link e à direita*/
      position: relative;
      display: flex;
      margin-top: 20px;
      justify-content: center;
      /* meter o botão no lado direito */
      padding-left: 80px;
    }
  }

  /* Responsive Desktop from 1025 to 1138px */

  @media (min-width: 1025px) and (max-width: 1138px) {
    .header { 
      flex-direction: column; 
      align-items: flex-start; 
      padding: 0 15px; } 

    .branding { 
      margin-bottom: 10px; } 

    .logo { 
      font-size: 24px; 
    } 

    .navigation {
      display: none; /* Esconde o menu de navegação por padrão */
      flex-direction: column; /* Orientação vertical dos links */
      align-items: flex-start; /* Alinha os links à esquerda */
      padding: 20px; /* Espaço ao redor dos links */
      position: absolute; /* Posicionamento absoluto */
      top: 120px; /* Posição a partir do topo do header */
      right:0; /* Posição a partir da esquerda da página */
      background-color: white; /* Cor de fundo do menu expandido */
      width: 50%; /* Largura do menu expandido */
      height: 50%; /* Altura do menu expandido */
      box-shadow: 0 8px 16px rgba(0,0,0,0.1); /* Sombra para destaque */
      z-index: 1000; /* Garante que o menu fique acima de outros elementos */
    }
  
    .navigation.active {
      display: flex; /* Mostra o menu quando ativo */
    }
  
    .nav-link {
      margin: 10px 0; /* Espaçamento vertical entre links */
      width: 80%; /* Largura para preencher o menu expandido */
    }
  
    .nav-content {
      padding: 10px 15px; /* Espaçamento interno para tornar mais clicável */
      width: 100%; /* Largura para preencher o menu expandido */
      text-align: right; /* Alinhamento do texto à esquerda */
    }
  
    .hamburger-menu {
      /* Posicione o botão à direita */
      position: absolute;
      right: 50px;
      top: 50px;
      display: flex; /* Mostra o ícone do menu hambúrguer */
    }

    .login-button-container {
      /* meter o botão login em baixo do nav-link e à direita*/
      position: relative;
      display: flex;
      margin-top: 20px;
      justify-content: center;
      /* meter o botão no lado direito */
      padding-left: 80px;
    } 


  }

  /* Responsive Desktop from 1139px */

  @media (min-width: 1139px) and (max-width: 1368px) {


  }